# Exploratory Data Analysis

In [1]:
import pandas as pd
url = "https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD"

df = pd.read_csv(url)

In [2]:
df.head()

,Animal ID,Date of Birth,Name,DateTime,MonthYear,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A668305,2012-12-01,NaN,2013-12-02T00:00:00-05:00,12-2013,Transfer,Partner,Other,Unknown,1 year,Turtle Mix,Brown/Yellow
1,A673335,2012-02-22,NaN,2014-02-22T00:00:00-05:00,02-2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon,Black/Gray
2,A675999,2013-04-03,NaN,2014-04-07T00:00:00-05:00,04-2014,Transfer,Partner,Other,Unknown,1 year,Turtle Mix,Green
3,A679066,2014-04-16,NaN,2014-05-16T00:00:00-05:00,05-2014,NaN,NaN,Other,Unknown,4 weeks,Rabbit Sh,Brown
4,A680855,2014-05-25,NaN,2014-06-10T00:00:00-05:00,06-2014,Transfer,Partner,Bird,Unknown,2 weeks,Duck,Yellow/Black

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173775 entries, 0 to 173774
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         173775 non-null  object
 1   Date of Birth     173775 non-null  object
 2   Name              123991 non-null  object
 3   DateTime          173775 non-null  object
 4   MonthYear         173775 non-null  object
 5   Outcome Type      173729 non-null  object
 6   Outcome Subtype   79660 non-null   object
 7   Animal Type       173775 non-null  object
 8   Sex upon Outcome  173774 non-null  object
 9   Age upon Outcome  173766 non-null  object
 10  Breed             173775 non-null  object
 11  Color             173775 non-null  object
dtypes: object(12)
memory usage: 15.9+ MB

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173775 entries, 0 to 173774
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         173775 non-null  object
 1   Date of Birth     173775 non-null  object
 2   Name              123991 non-null  object
 3   DateTime          173775 non-null  object
 4   MonthYear         173775 non-null  object
 5   Outcome Type      173729 non-null  object
 6   Outcome Subtype   79660 non-null   object
 7   Animal Type       173775 non-null  object
 8   Sex upon Outcome  173774 non-null  object
 9   Age upon Outcome  173766 non-null  object
 10  Breed             173775 non-null  object
 11  Color             173775 non-null  object
dtypes: object(12)
memory usage: 15.9+ MB

### Nulls

In [5]:
df.isnull().sum()

Animal ID               0
Date of Birth           0
Name                49784
DateTime                0
MonthYear               0
Outcome Type           46
Outcome Subtype     94115
Animal Type             0
Sex upon Outcome        1
Age upon Outcome        9
Breed                   0
Color                   0
dtype: int64

In [6]:
round((df.isnull().mean() * 100), 2)

Animal ID            0.00
Date of Birth        0.00
Name                28.65
DateTime             0.00
MonthYear            0.00
Outcome Type         0.03
Outcome Subtype     54.16
Animal Type          0.00
Sex upon Outcome     0.00
Age upon Outcome     0.01
Breed                0.00
Color                0.00
dtype: float64

### Unique Values

In [7]:
df['Outcome Type'].unique()

array(['Transfer', 'Euthanasia', nan, 'Adoption', 'Return to Owner',
       'Died', 'Missing', 'Disposal', 'Relocate', 'Rto-Adopt', 'Stolen',
       'Lost'], dtype=object)

In [8]:
df['Outcome Subtype'].unique()

array(['Partner', 'Suffering', nan, 'Foster', 'Offsite', 'In Kennel',
       'Enroute', 'In Foster', 'Aggressive', 'SCRP', 'Rabies Risk',
       'At Vet', 'Possible Theft', 'Medical', 'Snr', 'Field', 'Behavior',
       'Court/Investigation', 'In Surgery', 'Barn', 'Underage',
       'Customer S', 'Out State', 'Emergency', 'Prc', 'Emer', 'In State'],
      dtype=object)

In [9]:
df['Animal Type'].unique()

array(['Other', 'Bird', 'Dog', 'Cat', 'Livestock'], dtype=object)

In [10]:
df['Sex upon Outcome'].unique()

array(['Unknown', 'Spayed Female', 'Intact Male', 'Intact Female',
       'Neutered Male', nan], dtype=object)

In [11]:
 df.nunique()

Animal ID           156237
Date of Birth         8692
Name                 29756
DateTime            146382
MonthYear              140
Outcome Type            11
Outcome Subtype         26
Animal Type              5
Sex upon Outcome         5
Age upon Outcome        55
Breed                 3010
Color                  663
dtype: int64

### Duplicates

In [12]:
df.duplicated().sum()

26

### Breed & Color Columns

In [13]:
df['Animal Type'].value_counts()

Animal Type
Dog          94505
Cat          69399
Other         8960
Bird           877
Livestock       34
Name: count, dtype: int64

In [14]:
df[df['Animal Type'] == "Livestock"]['Breed'].unique()

array(['Pig Mix', 'Goat Mix', 'Miniature', 'Potbelly Pig Mix', 'Pig',
       'Sheep Mix', 'Pygmy', 'Goat', 'Potbelly Pig', 'Emu', 'Goat/Pygmy'],
      dtype=object)

In [15]:
df[df['Animal Type'] == "Livestock"]['Color'].unique()

array(['Pink', 'Brown', 'White', 'Liver/Cream', 'Black/White', 'Black',
       'Gray', 'Gray/Black', 'White/Black', 'Tan/Black', 'Tan',
       'Black/Brown', 'Tan/White', 'Tricolor/Brown'], dtype=object)

### Data Dictionary


| Column            | Data Type | Description |
|-------------------|-----------|-------------|
| animal_id         | Object| unique identifier for animal
| date_of_birth  | Object | date of birth of animal
| name        | Object |name of animal       
datetime         | Object| timestamp of outcome          
month_year       | Object| month and year of outcome             
outcome_type      | Object| type of outcome        
outcome_subtype      | Object| subtype of outcome   
animal_type        | Object| animal type          
sex_upon_outcome    | Object| sex and neutered status of animal         
age_upon_outcome   | Object| age of animal at time of outcome         
breed            | Object| breed of animal     
color               | Object| color of animal

### Rename Columns and Change Datatypes

## Cleaning

In [16]:
df.rename(columns={ "Animal ID": "animal_id",
        "Date of Birth": "date_of_birth",
        "Name": "name",
        "DateTime": "datetime",
        "MonthYear": "month_year",
        "Outcome Type": "outcome_type",
        "Outcome Subtype": "outcome_subtype",
        "Animal Type": "animal_type",
        "Sex upon Outcome": "sex_upon_outcome",
        "Age upon Outcome": "age_upon_outcome",
        "Breed": "breed",
        "Color": "color"}, inplace=True)

In [17]:
df.drop('name', axis=1, inplace=True)

In [18]:
df.dropna(subset=['age_upon_outcome', 'sex_upon_outcome', 'outcome_type'], inplace=True)

In [19]:
df.isnull().sum()

animal_id               0
date_of_birth           0
datetime                0
month_year              0
outcome_type            0
outcome_subtype     94070
animal_type             0
sex_upon_outcome        0
age_upon_outcome        0
breed                   0
color                   0
dtype: int64

In [20]:
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'])
df['month_year'] = pd.to_datetime(df['month_year'], format="%m-%Y")
df['outcome_type'] = df['outcome_type'].astype('category')
df['outcome_subtype'] = df['outcome_type'].astype('category')
df['animal_type'] = df['animal_type'].astype('category')
df['sex_upon_outcome'] = df['sex_upon_outcome'].astype('category')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 173719 entries, 0 to 173774
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   animal_id         173719 non-null  object
 1   date_of_birth     173719 non-null  datetime64[ns]
 2   datetime          173719 non-null  object
 3   month_year        173719 non-null  datetime64[ns]
 4   outcome_type      173719 non-null  category
 5   outcome_subtype   173719 non-null  category
 6   animal_type       173719 non-null  category
 7   sex_upon_outcome  173719 non-null  category
 8   age_upon_outcome  173719 non-null  object
 9   breed             173719 non-null  object
 10  color             173719 non-null  object
dtypes: category(4), datetime64[ns](2), object(5)
memory usage: 11.3+ MB

### Columns to Clean
Outcome Type: has many categories that may overlap\
Age Upon Outcome: not standardized format \
Breed: has many categories that may overlap \
Color: not overly standardized, could use change

In [22]:
# split color into two columns
# assume first color is primary?

In [28]:
df[['color1', 'color2']] = df['color'].str.lower().str.split('/', n=1, expand=True)
df.drop('color', axis=1, inplace=True)

In [29]:
df.head()

,animal_id,date_of_birth,datetime,month_year,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color1,color2,number,unit
0,A668305,2012-12-01,2013-12-02T00:00:00-05:00,2013-12-01,Transfer,Transfer,Other,Unknown,1 year,Turtle Mix,brown,yellow,1,year
1,A673335,2012-02-22,2014-02-22T00:00:00-05:00,2014-02-01,Euthanasia,Euthanasia,Other,Unknown,2 years,Raccoon,black,gray,2,years
2,A675999,2013-04-03,2014-04-07T00:00:00-05:00,2014-04-01,Transfer,Transfer,Other,Unknown,1 year,Turtle Mix,green,None,1,year
4,A680855,2014-05-25,2014-06-10T00:00:00-05:00,2014-06-01,Transfer,Transfer,Bird,Unknown,2 weeks,Duck,yellow,black,2,weeks
5,A680857,2014-05-25,2014-06-10T00:00:00-05:00,2014-06-01,Transfer,Transfer,Bird,Unknown,2 weeks,Duck,yellow,black,2,weeks

In [30]:
df['color1'] = df['color1'].astype('category')
df['color2'] = df['color2'].astype('category')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 173719 entries, 0 to 173774
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   animal_id         173719 non-null  object
 1   date_of_birth     173719 non-null  datetime64[ns]
 2   datetime          173719 non-null  object
 3   month_year        173719 non-null  datetime64[ns]
 4   outcome_type      173719 non-null  category
 5   outcome_subtype   173719 non-null  category
 6   animal_type       173719 non-null  category
 7   sex_upon_outcome  173719 non-null  category
 8   age_upon_outcome  173719 non-null  object
 9   breed             173719 non-null  object
 10  color1            173719 non-null  category
 11  color2            91988 non-null   category
 12  number            173719 non-null  object
 13  unit              173719 non-null  object
dtypes: category(6), datetime64[ns](2), object(6)
memory usage: 12.9+ MB

In [32]:
 # standardize age into days

In [33]:
df[['number', 'unit']] = df['age_upon_outcome'].str.split(' ', n=1, expand=True)

In [34]:
df['number'].unique()

array(['1', '2', '4', '5', '6', '8', '3', '13', '14', '12', '10', '9',
       '7', '11', '0', '20', '25', '17', '18', '15', '16', '19', '22',
       '-1', '-3', '-2', '24', '-4', '21', '23', '30', '28'], dtype=object)

In [35]:
def standardize_age(num, unit):
    if 'year' in unit:
        return int(num) * 365
    elif 'month' in unit:
        return int(num) * 30.5
    elif 'week' in unit:
        return int(num) * 7
    elif 'day' in unit:
        return int(num)
    else:
        raise Exception('Not a year, month, week, or day unit')

In [36]:
df['age_upon_outcome'] = df.apply(lambda row: standardize_age(row['number'], row['unit']), axis=1)

In [37]:
df.drop(['number', 'unit'], axis=1)

,animal_id,date_of_birth,datetime,month_year,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color1,color2
0,A668305,2012-12-01,2013-12-02T00:00:00-05:00,2013-12-01,Transfer,Transfer,Other,Unknown,365.0,Turtle Mix,brown,yellow
1,A673335,2012-02-22,2014-02-22T00:00:00-05:00,2014-02-01,Euthanasia,Euthanasia,Other,Unknown,730.0,Raccoon,black,gray
2,A675999,2013-04-03,2014-04-07T00:00:00-05:00,2014-04-01,Transfer,Transfer,Other,Unknown,365.0,Turtle Mix,green,NaN
4,A680855,2014-05-25,2014-06-10T00:00:00-05:00,2014-06-01,Transfer,Transfer,Bird,Unknown,14.0,Duck,yellow,black
5,A680857,2014-05-25,2014-06-10T00:00:00-05:00,2014-06-01,Transfer,Transfer,Bird,Unknown,14.0,Duck,yellow,black
...,...,...,...,...,...,...,...,...,...,...,...,...
173770,A671565,2013-07-06,2014-02-07T10:14:00,2014-02-01,Transfer,Transfer,Cat,Spayed Female,213.5,Domestic Medium Hair Mix,brown tabby,NaN
173771,A675119,2014-02-16,2014-03-27T08:00:00,2014-03-01,Transfer,Transfer,Dog,Intact Male,30.5,Pomeranian Mix,white,brown
173772,A677839,2014-01-29,2014-05-03T08:00:00,2014-05-01,Transfer,Transfer,Other,Unknown,91.5,Lop-English Mix,chocolate,NaN
173773,A678559,2011-05-10,2014-05-14T08:00:00,2014-05-01,Transfer,Transfer,Dog,Intact Male,1095.0,Pekingese/Lhasa Apso,buff,NaN
173774,A678592,2013-05-10,2014-05-14T08:00:00,2014-05-01,Transfer,Transfer,Other,Unknown,365.0,Rabbit Sh Mix,black,NaN

In [ ]:
# derived columns

In [41]:
df['outcome_type'] = df['outcome_type'].str.lower()
df['is_adoption'] = df['outcome_type'] == 'adoption'

In [50]:
df['animal_type'] = df['animal_type'].str.lower()
df[df['animal_type'] == 'dog']['breed'].unique()

array(['Black Mouth Cur Mix', 'Chihuahua Shorthair Mix', 'Shiba Inu Mix',
       ..., 'Dachshund/Bulldog', 'Labrador Retriever/Affenpinscher',
       'Pekingese/Lhasa Apso'], dtype=object)

In [53]:
df[['breed1', 'breed2']] = df['breed'].str.lower().str.split('/', n=1, expand=True)
df.drop('breed', axis=1)

,animal_id,date_of_birth,datetime,month_year,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,color1,color2,number,unit,is_adoption,breed1,breed2
0,A668305,2012-12-01,2013-12-02T00:00:00-05:00,2013-12-01,transfer,transfer,other,Unknown,365.0,brown,yellow,1,year,False,Turtle Mix,None
1,A673335,2012-02-22,2014-02-22T00:00:00-05:00,2014-02-01,euthanasia,euthanasia,other,Unknown,730.0,black,gray,2,years,False,Raccoon,None
2,A675999,2013-04-03,2014-04-07T00:00:00-05:00,2014-04-01,transfer,transfer,other,Unknown,365.0,green,NaN,1,year,False,Turtle Mix,None
4,A680855,2014-05-25,2014-06-10T00:00:00-05:00,2014-06-01,transfer,transfer,bird,Unknown,14.0,yellow,black,2,weeks,False,Duck,None
5,A680857,2014-05-25,2014-06-10T00:00:00-05:00,2014-06-01,transfer,transfer,bird,Unknown,14.0,yellow,black,2,weeks,False,Duck,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173770,A671565,2013-07-06,2014-02-07T10:14:00,2014-02-01,transfer,transfer,cat,Spayed Female,213.5,brown tabby,NaN,7,months,False,Domestic Medium Hair Mix,None
173771,A675119,2014-02-16,2014-03-27T08:00:00,2014-03-01,transfer,transfer,dog,Intact Male,30.5,white,brown,1,month,False,Pomeranian Mix,None
173772,A677839,2014-01-29,2014-05-03T08:00:00,2014-05-01,transfer,transfer,other,Unknown,91.5,chocolate,NaN,3,months,False,Lop-English Mix,None
173773,A678559,2011-05-10,2014-05-14T08:00:00,2014-05-01,transfer,transfer,dog,Intact Male,1095.0,buff,NaN,3,years,False,Pekingese,Lhasa Apso
173774,A678592,2013-05-10,2014-05-14T08:00:00,2014-05-01,transfer,transfer,other,Unknown,365.0,black,NaN,1,year,False,Rabbit Sh Mix,None

In [68]:
(df['sex_upon_outcome'] == 'Unknown').sum() / df.shape[0]

0.07765414260961669